@model IEnumerable<DrivingLicense.Models.DLDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*@if (User.IsInRole("Employee") || User.IsInRole("Manager")) {*@
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DLNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FathersName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfIssue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValidTill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COV1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COV2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DLNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FathersName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BloodGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeptName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuingID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfIssue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValidTill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COV1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COV2)
        </td>
        <td>
            @*@if (!User.IsInRole("Employee") && !User.IsInRole("Manager")) {
            if (item.Purchased)
            {
                <p>Purchased</p>
            }
            else
            {
                @Html.ActionLink("Add To Cart", "Cart", new { id = item.BikeID })
            }
            }*@
            @if (User.IsInRole("Employee")) {
            @Html.ActionLink("Edit", "Edit", new { id = item.DLNumber })
            @Html.ActionLink("Details", "Details", new { id = item.DLNumber }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.DLNumber })
            }
            @Html.ActionLink("View Driving License", "ViewDrivingLicense", new { id = item.DLNumber })
            
        </td>
    </tr>
}

</table>
